@CHARSET "UTF-8";

/* 공간 설정 */
#wrap{
	width: 100%;
	text-align: center;
}
#content{
	display: inline-block;
	margin-top: 140px;
}

/* 아이디 찾기 */
h2 {
	color: #00686a;
	font-weight: normal;
	font-size: 25px;
	letter-spacing : 2px;
	margin-left: -25px;
}
/* input 영역 */
input[type="password"]{
	width: 250px;
	height: 50px;
	padding: 10px 20px;
	margin: 5px 0 10px 0;
	box-sizing: border-box;
	border: solid 2px #004040;
	border-radius: 8px;
	font-size: 16px;
	letter-spacing : 2px;
	color:  #282828; 
}

/* 버튼 : 입력  */
button.btn {
	width: 85px;
	height: 48px;
	margin-top : 20px;
	background-color: #00686a;
	
	box-sizing: border-box;
 	border: solid 2px #004040;
	border-radius: 8px;
	
	font-size: 19px;
	letter-spacing : 2px;
	color: white; 
}
button.btn:hover {
	border: solid 2px #004040;
	background-color: rgba( 255, 255, 255, 0.9 );
	color: #004040;  
}

