@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

/* margin,padding 초기화 (반드시 상단에 위치해야 함) */
*{	margin: 0px; padding: 0px;
 	font-family: 'Hanna';
}
/* 
background 이미지 고정 
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
 */
/* 리스트 앞에 모양 제거 */
ul{list-style: none;}

/* 화면설정 */

body{margin:0; height: 100%; text-align: center;}

/* 
html {
 	background: url("../images/bgimg.png") no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
} */

div#wrap{
	position:absolute;
	width: 100%;
	overflow: auto;
}
::-webkit-scrollbar { display: none; }

div#content{
	padding: 50px;
	margin-top: 40px;
}

div #whole{
	width: 100%;
/* 	border: 1px solid red; */
}

div #Medicine {
	margin-top: -15px;
	font-size: 25px;
	letter-spacing : 3px;
	color: #00565e;
}

div#left{
	width: 40%;
	margin-top: 105px;
	float: left;
/* 	box-sizing: border-box;
    background: #ff0; */
}
div#center{
	width: 20%;
	float: left;
	margin-top: 30px;
}
div#right{
	width: 40%;
	margin-top: 105px;
	float: right;
/* 	box-sizing: border-box;
    background: #0ff; */
}

.btn1{
	border: none;
	background-color: white;
	cursor: pointer;
}