@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);


/* margin,padding 초기화 */
*{margin: 0px; padding: 0px;
 font-family: 'Hanna';
}

.logo{
	position: fixed;
	left:70px;
	top: 2px;
	padding: 40px;
	filter: drop-shadow(0px 1px 0px #2c2c2c);
}

/* 로그인 등 */
div #top_menu{
	position: fixed;
	right: 70px;
	top: 13px;
	padding:20px;
	font-size: 19px;
	letter-spacing:3px;
}

div #top_menu a {
	font-weight: 550; 
	color: #4a4a4a;
	text-decoration: none;
}
div #top_menu a:hover{
	color: #003535;
	/* text-shadow: 0 0 5px #ffffff; */
}

/* 상단 메뉴 글 */
span { color: #6c6c6c; font-size: 19px;}

/* 메뉴 리스트 */
nav {
  width: 100%;
  padding: 6px 0 ; /* 메뉴 넓이 */
  top: 150px;
  display: flex;
  justify-content: center;
  position: relative;
  /* background: linear-gradient(90deg, #051937, #004d7a, #008793, #00bf72, #a8eb12); */
  background: linear-gradient(90deg, #004040, #008793, #12eb86);
  z-index: 9999;
}
/* 중앙정렬  */
ul, li {
  margin: 0;
  list-style: none;
}
#main_menu > li {
  float: left;
  position: relative;
}

#main_menu > li > a {
  font-size: 21px;
  color: rgba(255,255,255,0.9);
  text-align: center;
  font-weight: normal;
  text-decoration: none;
  letter-spacing: 2px;
  display: block;
  padding: 0 100px; /* 리스트 간격 */
  border-right: 1px solid rgba(0,0,0,0.15);
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
#main_menu > li > a:HOVER {
   /* color: #bbffff; */
 /*   color: #d2f7ff; */
 /*   color: #ffffc1; */
   color: #102525;
}
/* 약복용 왼쪽 선 */
#main_menu > li:nth-child(1) > a {
  border-left: 1px solid rgba(0,0,0,0.15);
}
#sub_menu {
  position: absolute;
  margin-top:5px; /* 하단메뉴 위치 */
  background: #027795;
  opacity: 0;
  visibility: hidden;
  transition: all 0.15s ease-in;
}
#sub_menu > li {
  width : 171px;
  text-align: center;
  padding: 13px 50px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
#sub_menu > li >  a {
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: normal;
  color: rgba(255,255,255,0.9);
  text-decoration: none;
}
#main_menu > li:hover #sub_menu {
  opacity: 1;
  visibility: visible;
}
#sub_menu > li > a:hover {
 text-decoration: underline;
}
 

/* 이미지 그림자 */
filter: url("filters.svg#logo");