@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

/* margin,padding 초기화 (반드시 상단에 위치해야 함) */
*{	margin: 0px; padding: 0px;
 	font-family: 'Hanna';
}

/*background 이미지 고정  */
filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale'); -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
/* 이미지 그림자 */
filter: url("filters.svg#img");

/* 리스트 앞에 모양 제거 */
ul{list-style: none;}

/* 화면설정 */

body{margin:0; height: 100%; text-align: center;}


html {
 	background: url("../images/bgimg.png") no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover; 
	-o-background-size: cover; 
}

/* 아이콘들  */
div#pill,#search,#pharmacy{
	margin: 0 auto;
	text-align: center;
	font-size: 28px;
	float:left;
	margin-top:12%;
	position: relative;
	left: 14.5%;
	bottom:0px;
}
div#pill{
	margin-right: 180px;
}
div#search{
	margin-right: 180px;
}

/* 글자 */
/* 밑줄 제거 */
a{
	text-decoration: none;
	color:#2b2e40;
	font-weight: 600;
	letter-spacing:3px;
}
/* 이미지 */
/* 그림자 넣기 */
.img{ filter: drop-shadow(5px 5px 5px #2c2c2c)}
