@CHARSET "UTF-8";

/* 공간 설정 */
#wrap{
	width: 100%;
	text-align: center;
}
#content{
	display: inline-block;
	margin-top: 150px;
}

/* "비밀번호 입력" */
h4 {
	color: #343434; 
	font-weight: normal;
	font-size : 20px;
	letter-spacing : 2px;
	margin-left: -80px;
}

/* input,button 나란히 배열 */
div .pw,.button {display:inline-block;}

/* input 영역*/
input[type="password"] {
	width: 280px;
	height: 50px;
	padding: 10px 20px;
	margin: 5px 0;
	box-sizing: border-box;
	border: solid 2px #004040;
	border-radius: 8px;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing : 2px;
	color:  #343434; 
}

/* button 영역 */
button {
	width: 70px;
	height: 49px;
	margin-left: 5px;
	box-sizing: border-box;
 	border: solid 2px #004040;
	border-radius: 8px;
	font-size: 19px;
	color: white;
	font-weight: normal;
	background-color: #00686a; 
	
}
button:hover {
	color: #004040; 
	background-color: rgba( 255, 255, 255, 0.9 );
 	border: solid 2px #004040;
}