@CHARSET "UTF-8";
@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

/* 공간 설정 */
#wrap{
	width: 100%;
	text-align: center;
}
#content{
	display: inline-block;
	margin-top: 200px;
}
/* input,button 나란히 배열 */
div .ui-widget,.button {display:inline-block;}

/* input 영역*/
input[type="text"] {
	width: 350px;
	height: 50px;
	padding: 10px 20px;
	margin: 5px 0;
	box-sizing: border-box;
	border: solid 2px #004040;
	border-radius: 8px;
	font-size: 16px;
	font-weight: lighter;
	letter-spacing : 2px;
	color:  #343434; 
}
input::placeholder{
	font-size: 18px;
	font-weight: lighter;
	letter-spacing : 2px;
	color:  #343434; 
	font-family: 'Hanna';
}
/* placeholder 클릭시 감추기 */
input:focus::-webkit-input-placeholder {color:transparent; }
/* button 영역 */
button {
	width: 70px;
	height: 49px;
	margin-left: 5px;
	box-sizing: border-box;
 	border: solid 2px #004040;
	border-radius: 8px;
	font-size: 20px;
	color: white;
	font-weight: normal;
	background-color: #00686a; 
	
}
button:hover {
	color:  #202020; 
	background-color: rgba( 255, 255, 255, 0.9 );
	border: solid 2px #004040;
}