@CHARSET "UTF-8";


/* div내의 div 중앙정렬 */
#wrap{ width: 100%; text-align: center; }
#content { display: inline-block; margin-top: -10px; }

#button { text-align: right; }

/* **** 테이블 **** */

table {
    width: 1200px;
    /* 선 공간 없애기 */
    border-collapse: collapse; 
	/* 가운데 */
	margin-left: auto;
	margin-right: auto;
	/* 배경색 */
	background-color: rgba(255, 255, 255, 0.6);
}
th, tr {
    border: 1px solid  #cacaca;
    padding: 10px;
}

td { padding: 8px; }

th {
	height: 30px;
	color: #343434;
    font-size: 18px;
    font-weight: normal;
    letter-spacing:3px;
    background-color: rgba(255, 255, 255, 0.7);
}
td {
	height: 30px;
	color: #343434;
    font-size: 16px;
    font-weight : lighter;
    letter-spacing:2px;
}
/* 크기  */
.tw,.tf,.tt { width: 20%; }
.tw1,.tf1,.tt1 { width: 70%; }
/* 제목, 첨부파일, 내용 */
.tw1,.tf1,.tt1,.tc {
	text-align: left;
	padding : 0 20px;
	font-size : 18px;	
}
/* 비밀번호 입력칸 */
input[type="password"] {
	border: none;
 	width: 200px;
	height: 35px;
	padding-left: 20px;
	font-size: 18px;
}
/* 제목 입력칸 */
input[type="text"] {
	border: none;
 	width: 1010px;
	height: 35px;
	padding-left: 20px;
	font-size: 18px;
}
/* 내용 */
.tc {
	height: 350px; 
	padding : 0px;
	font-weight: lighter;
	font-size : 19px;
	line-height: 30px;
}
/* 내용 입력칸 */
textarea {
	border: none;
 	width: 1150px;
	height: 350px;
	padding: 20px;
	font-size: 18px;
}


/* 목록, 올리기 버튼  */
button.btn{
	width: 100px;
	height: 35px;
	border : 2px solid #004040;
	border-radius: 8px;
	background-color: rgba( 255, 255, 255, 0.8 );
	color: #004040;
	font-size: 19px;
	font-weight: normal;
	letter-spacing:1px;
}
button.btn:HOVER{
	border : 2px solid #004040;
	background-color: #005151;
	color: white;
}
/* 올리기 버튼 */
button.btn1 {
	width : 100px;
	height : 35px;
	border : 1px solid #004040;
	border-radius: 8px;
	background-color: #005151;
	
	color: white;
	font-size: 19px;
	font-weight: normal;
	letter-spacing:1px;
}
button.btn1:HOVER {
	border : 2px solid #004040;
	background-color: rgba( 255, 255, 255, 0.8 );
	color: #004040;

}
