body {
  margin: 0px;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

.info_content {
  border-radius: 5px;
  background: white;
  padding: 3px;
  font-size: 13px;
  margin-top: 18.7px;
  margin-left: 6px;
  border: 1px solid #111;
  font-weight: bold;
  position: absolute;
  left: 2000px;
  z-index: 1100;
  top: 2000px;
  white-space: nowrap;
}

.im {
  z-index: 100;
}

.wrap {
  position: absolute;
  left: 0;
  bottom: 0px;
  width: 180px;
  margin-left: 0px;
  text-align: left;
  font-size: 12px;
  font-family: "Malgun Gothic", dotum, "돋움", sans-serif;
  line-height: 1.5;
}

.wrap * {
  padding: 0;
  margin: 0;
}

.wrap .info {
  width: 178px;
  margin-top: 74;
  min-height: 80px;
  border-radius: 5px;
  border-bottom: 2px solid #eee;
  border-right: 1px solid #eee;
  background: #fff;
}

.wrap .info:nth-child(1) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}

.info .title {
  padding: 5px 10px 2px 10px;
  height: 30px;
  border-bottom: 1px solid #eee;
  font-size: 15px;
  font-weight: bold;
  display: flex;
  font-family: Arial, Helvetica, sans-serif !important;
  justify-content: space-between;
  align-items: center;
}

/* .info .close {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #888;
  width: 17px;
  height: 17px;
  background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
} */

.info .close:hover {
  cursor: pointer;
}

.info .body {
  padding: 10px;
  /* height: 40px; */
  position: relative;
  word-break: keep-all;
  /* overflow: hidden; */
}

.info .foot {
  text-align: center;
  height: 30px;
  position: relative;
  overflow: hidden;
}

.info .desc {
  position: relative;
  margin: 8px 0 0 90px;
  height: 75px;
  display: block;
}

.desc .ellipsis {
  display: block;
  white-space: normal;
}

.desc .jibun {
  font-size: 11px;
  color: #888;
  margin-top: -2px;
  width: 100px;
}

.info .img {
  position: absolute;
  text-align: center;
  top: 6px;
  left: 5px;
  width: 73px;
  height: 71px;
  border: 1px solid #ddd;
  color: #888;
  overflow: hidden;
}

.info .link {
  color: #5085bb;
}

.load {
  background-color: rgb(110, 191, 233);
  /* Green */
  border: none;
  color: white !important;
  height: 100%;
  width: 95%;
  border-radius: 4px;
  opacity: 0.9;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.load:hover {
  opacity: 1;
}

.wrap::after {
  content: "";
  position: absolute;
  bottom: -12px !important;
  margin-left: -12px;
  left: 50%;
  bottom: 0;
  width: 22px;
  height: 12px;
  background: url("http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}

.phone {
  color: #8383af;
}

.air {
  color: rgb(110, 191, 233);
  font-weight: bold;
}

.title {
  font-family: BMHANNAAir;
}

.search-wrap {
  width: 100%;
  height: 100%;
  z-index: 1012313213;
  position: absolute;
  top: 0px;
  display: none;
  background-color: white;
}

.wa {
  left: 13px;
  top: 105px;
  width: 90px;
  height: auto;
  display: block;
  text-align: center;
  padding: 10px 0px 10px 0px;
  z-index: 1001;
  position: absolute;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.content {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
}

.wa1 {
  left: 13px;
  top: 280px;
  width: 90px;
  display: block;
  text-align: center;
  padding: 10px 10px 10px 10px;
  z-index: 1000;
  position: fixed;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

.hi {
  z-index: 1000;
  background-position: -79px -71px;
  border-radius: 6px;
  width: 35px;
  position: static;
  height: 35px;
  display: inline-block;
  overflow: hidden;
  background-image: url(https://ssl.pstatic.net/static/maps/m/sp_map_v78compressed.png);
  background-size: 448px 420px;
  background-repeat: no-repeat;
  /* background-image: url(https://ssl.pstatic.net/static/maps/v5/pc/20190430114353/home.png);
  background-size: 501px 498px;
  background-position: -257px -377px; */
}

.hi.active {
  z-index: 1000;
  width: 35px;
  height: 35px;
  display: inline-block;
  overflow: hidden;
  background-position-x: -117px;
  border-radius: 3px;

  background-position-x: -118px;
  background-image: url(https://ssl.pstatic.net/static/maps/m/sp_map_v78compressed.png);
  background-size: 450px 420px;
}

.hi.load {
  z-index: 1000;
  width: 35px;
  height: 35px;
  display: inline-block;
  overflow: hidden;
  border-radius: 3px;
  background-image: url("../images/spin.gif");
  background-size: 100%;
  background-position: center;
}

#cu_alert {
  display: inline-block;
  position: fixed;
  color: white;
  background: red;
  z-index: 1200;
  height: 200px;
}

.qwe1 {
  display: block !important;
  position: absolute;
  right: 15px;
  z-index: 1;
  font-size: 13px;
  width: 100%;
  font-weight: bolder;
  text-align: right;
  padding: 10px 0 0 0;
}

.notice {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  max-height: 590px;
  width: 91%;
  z-index: 123123123;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  border-radius: 10px;
  border: 1px solid grey;
  max-width: 400px;
}

.coroname {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 15px;
  top: 12px;
  border: 1px solid white;
  border-radius: 20px;
  padding: 1px 5px;

}

.notice-title {
  font-size: 20px;
  padding: 10px 0;
  font-weight: bolder;
}

.notice-content {
  width: 80%;
  height: 276px;
  height: 58%;
  margin-bottom: 10px;
  overflow: scroll;
  overflow-x: hidden;
  /* padding: 10px; */
}

.notice-item {
  width: 100%;
  padding: 10px 0;
  font-size: 11px;
  border-bottom: 1px solid rgba(95, 92, 92, 0.342);
}

.loading {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.nono {
  z-index: 123123121;
}

.notice-btn {
  width: 90%;
  background-color: #111 !important;
  color: white !important;
  border: 0;
  height: 40px;
  border-radius: 12px;
  position: absolute;
  bottom: 20px;
}

.sisisi {
  width: 100%;
  display: flex;
  justify-content: center;
}

.notice-wrap {
  display: flex;
  width: 80%;
}

.butt {
  width: 50%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  font-size: 13px;
  color: white;
  cursor: pointer;
}

.tag-wrap {
  display: flex;
}

.tag-date {
  margin-left: 5px;
  color: grey;
  position: relative;
  top: 2px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wa {
    top: 105px;
    left: 13px;
    width: 80px;
    display: block;
    text-align: center;
    padding: 10px 0px 9px 0px;
    z-index: 1002;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  .wa1 {
    top: 315px;
    left: 13px;
    display: block;
    width: 80px;
    text-align: center;
    padding: 10px 10px 3px 10px;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  .d {
    top: 60px !important;
  }

  .o {
    left: 56px !important;
  }

  
}

@media (max-width: 767px) {
  .d1 {
    display: none;
  }

  .wa {
    left: 13px;
    top: 102px;
    width: 80px;
    display: block;
    text-align: center;
    padding: 10px 0px 9px 0px;
    z-index: 1002;
    position: absolute;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  hr {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .content {
    font-size: 20px;
    height: auto;
  }

  .wa1 {
    left: 13px;
    top: 237px;
    display: block;
    width: 80px;
    text-align: center;
    padding: 10px 10px 3px 10px;
    z-index: 1000;
    position: fixed;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-clip: padding-box;
  }

  .arrow_box {
    display: none important;
  }

  .dash {
    width: 100%;
    display: none;
    text-align: center;
    height: 212px;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: #fff;
    position: absolute;
    align-items: center;
    bottom: 0px;
    z-index: 20000;
    overflow: hidden;
  }

  .dash-item {
    height: 55px;
    width: 100%;
    padding: 0px 30px 0 30px;
    display: flex;
    background: white;
    border: 0;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
    z-index: 20002;
  }

  .dash-item:focus {
    background: rgba(179, 176, 175, 0.15);
  }

  .back-red {
    background-color: red;
  }

  .dash-item-wrap {
    width: 100%;
    z-index: 20001;
    padding-bottom: 10px;
    height: 179px;
    -ms-overflow-style: none;
    overflow: auto;
  }

  .to {
    padding: 0 !important;
    display: flex;
    text-align: center;
    justify-content: center !important;
  }

  .qwe {
    display: none;
  }

  .d {
    width: auto !important;
    height: 37px !important;
    padding: 0px;
    z-index: 20005 !important;
    top: 60px !important;
  }

  .o {
    width: 35px !important;
    height: 37px !important;
    padding: 0px;
    left: 56px !important;
    top: 60px !important;
  }

  .qwe1 {
    display: block !important;
    position: absolute;
    right: 15px;
    z-index: 1;
    font-size: 13px;
    width: 100%;
    font-weight: bolder;
    text-align: end;
    padding: 10px 0 0 0;
  }

  .hohow {
    pointer-events: none;
    display: block !important;
    position: absolute;
    font-size: 13px;
    text-align: start;
    font-weight: bolder;
    z-index: 2;
    bottom: 15px;
    left: 9px;
  }

  .item-wa {
    height: 130px;
  }

  .dashgo {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 40px;
    text-align: center;
    height: 35px;
    background: white;
    z-index: 300000;
    display: none;
    border-radius: 4px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.2);
  }

  .caca {
    position: absolute;
    right: -1px;
    top: 5px !important;
  }

  .search {
    position: absolute;
    top: 60px !important;
    left: 15px !important;
  }
}

.search {
  position: absolute;
  top: 60px;
  left: 15px;
  z-index: 20005;
  display: flex;
  align-items: center;
  border-radius: 25px;
  background: white;
  width: 1000px;
  right: -250px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  
  height: 35px;
  max-width: 350px;
}

.sese {
  top: 0px;
  font-size: 16px;
  color: rgb(104, 110, 129);
}

input::placeholder {
  color: rgb(104, 110, 129);
}

.hohow {
  position: absolute;
  font-size: 12px;
  text-align: start;
  font-weight: bolder;
  z-index: 2;
  bottom: 15px;
  left: 9px;
}

.dash-profile {
  justify-content: space-between;
}

.arrow_box {
  cursor: none;
  display: none;
  line-height: 29px;
  font-size: 13px;
  z-index: 1000;
  left: 65px;
  height: 200px;
  padding: 0 6px 0 6px;
  position: absolute;
  color: white;
  top: 9.3%;
  height: 30px;
  border-radius: 5px;
  opacity: 0.7;
  background: black;
}

.arrow_box:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 10;
  position: absolute;
  pointer-events: none;
  border-color: #00ff0000;
  border-right-color: black;
  border-width: 6px;
  margin-top: -6px;
}

.to {
  background: #333333;
  height: 50px;
  color: white;
  display: flex;
  z-index: 123132;
  position: fixed;
  width: 100%;
  justify-content: center;
  padding: 0 80px;
  align-items: center;
}

.toto {
  font-size: 23px;
  font-family: BMHANNAAir;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.in {
  width: 35px;
  display: block;
  z-index: 1000;
  position: absolute;
  height: 35px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
  top: 15% !important;
  left: 13px;
}

.item-wa {
  z-index: 1001;
  overflow: auto;
  -ms-overflow-style: none;
  overflow-x: hidden;
  display: none;
}

.wawa {
  padding: 3px 10px 3px 10px;
  background-color: white;
  width: 100%;
  min-height: 37px;
  border: 0;
  cursor: pointer;
}

.region-item {
  height: 55px;
  width: 100%;
  padding: 0px 30px 0 30px;
  display: flex;
  background: white;
  border: 0;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  z-index: 20002;
}

button:focus {
  outline: 0;
  font-weight: bolder;
}

.d {
  width: auto !important;
  height: 37px !important;
  padding: 0px;
  top: 60px;
}

.o {
  width: 37px !important;
  height: 37px;
  z-index: 1002;
  left: 67px;
  cursor: pointer;
  text-align: center;
  line-height: 37px;
}

.item-go {
  display: none;
}

.arar {
  font-size: 17px;
  top: 3px !important;
}

.glyphicon {
  /* width: 100%; */
}

.clear {
  padding-top: 3px;
}

.dash {
  width: 100%;
  display: none;
  text-align: center;
  height: 214px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-color: #fff;
  position: absolute;
  align-items: center;
  bottom: 0px;
  z-index: 20000;
  overflow: hidden;
}

.dash-item {
  height: 55px;
  width: 100%;
  padding: 0px 30px 0 30px;
  display: flex;
  background: white;
  border: 0;
  align-items: center;
  justify-content: space-between;
  text-align: left;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  z-index: 20002;
}

.dash-item:focus {
  background: rgba(179, 176, 175, 0.15);
}

.back-red {
  background-color: red;
}

.dash-item-wrap {
  width: 100%;
  z-index: 20001;
  padding-bottom: 10px;
  height: 179px;
  -ms-overflow-style: none;
  overflow: auto;
}

.dashgo {
  display: none;
}

.dash {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  max-width: 500px !important;
  display: none;
}

.dash-item {}

.pulse {
  z-index: 100;
  /* margin: 100px; */
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background: #ffffff00;
  cursor: pointer;
  box-shadow: 0 0 0 rgb(255, 0, 0);
  animation: pulse 1.7s infinite;
}

.pul {
  z-index: 100;
  /* margin: 100px; */
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ffffff00;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(216, 90, 52, 0.925);
}

.searchInput {
  width: 90%;
  border: 0 !important;
}

input:focus {
  outline: none;
}

/* .pulse:hover {
  animation: none;
} */

/* button {
  outline: none;
}
button .sidebar-btn {
  color: #fff;
  font-weight: bold;
} */
.sidebar {
  background-color: #222;
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: -270px;
  z-index: 99991231;
}

.sidebar>.sidebar-content {
  /* position: absolute;
  top: 20px;
  left: 90px; */
  color: #fff;
  height: 90%;
  padding: 0 20px 20px 20px;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99803;
  display: none;
}

.nono {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 99803;
}

.tititi {
  height: 10%;
}

.up {}

.ju {
  height: 50%;
  padding-top: 30px;
  overflow: auto;
  -ms-overflow-style: none;
  overflow-x: hidden;
}

.link {
  height: 20%;
}

.mymy {
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 20px;
}

.circir {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: red;
  border: 1px solid black;
}

.cir-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.english-btn {
  font-size: 12px;
  width: 60px;
  border: 1px solid rgb(99, 114, 253);
  background-color: white;
  padding: 3px 6px;
  color: rgb(99, 114, 253);
  border-radius: 5px;
  position: absolute;
  top: 12px;
  right: 38px;
}

.search_result_wrap {
  top: 0;
  height: 100%;
  width: 100%;
  overflow: scroll;
  z-index: 1332;
  background: white;
  padding-top: 123px;
}

.search_group {
  font-family: AppleSDGothicNeo;
  font-size: 11px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #a0a0a0;
  margin-left: 6px;
}

.search_address {
  font-family: AppleSDGothicNeo;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.27;
  letter-spacing: normal;
  text-align: left;
  color: #a0a0a0;
}


.search_title {
  font-family: AppleSDGothicNeo;
  font-size: 17px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: left;
  color: #121212;
}

.search_title_wrap {
  display: flex;
  align-items: baseline;
  margin-bottom: 6px;
}

.search_content_wrap {
  width: 100%;
  border-bottom: solid 1px #a7a7a734;
  padding: 16px;
}

.search_result_wrap {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.search_result_wrap::-webkit-scrollbar {
  display: none;
  /* Chrome, Safari, Opera*/
}

.search2 {
  position: absolute;
  z-index: 20005;
  display: flex;
  left: 56px;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  width: auto;
  right: 16px;
  padding: 13px 24px 13px 24px;
  max-width: 343px;
  height: 46px;
  border-radius: 24px;
  border: solid 1px #707070;
  background-color: #ffffff;
}

.search_back {
  width: 24px;
  z-index: 1231231231;
}

.search_input_wrap {
  position: absolute;
  top: 44px;
  width: 100%;
  height: 79px;
  padding: 16px;
  background-color: white;
  display: flex;
  align-items: center;
  border-bottom: solid 1px #a7a7a7;
  z-index: 123122;
}

.blue {
  background: rgba(26, 165, 49, 0.932);
  opacity: 0.9;
}

.yellow {
  background: rgba(255, 196, 0, 0.9);
  opacity: 0.9;
}

.red {
  background: red;
  opacity: 0.8;
}

.tag {
  padding: 2px 6px;
  font-size: 11px;
  text-align: center;
  width: fit-content;
  margin-bottom: 3px;
}

.noti {
  border-bottom: 1px solid black;
  color: black;
}

.speed {
  border-bottom: 1px solid rgb(212, 36, 36);
  color: rgb(212, 36, 36);
}

.wa2 {
  bottom: 0px;
  right: 0px;
  display: block;
  width: 150px;
  text-align: center;
  padding: 5px;
  z-index: 1000;
  position: fixed;
  font-size: 12px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.2);
  background-clip: padding-box;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.5);
  }

  70% {
    -webkit-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }

  100% {
    -webkit-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
  }
}

@keyframes pulse {
  0% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.5);
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0.4);
  }

  70% {
    -moz-box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
    box-shadow: 0 0 0 20px rgba(204, 49, 44, 0);
  }

  100% {
    -moz-box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 49, 44, 0);
  }
}